---
- name: determine if EPEL repo is already configured
  stat: path={{ epel_repo_file }}
  register: repo

- block:
  - name: import EPEL GPG key
    rpm_key:
      key: "{{ epel_gpg_url }}"
      state: present

  - name: install EPEL repository
    yum:
      name: "{{ epel_repo_url }}"
      state: present
  when: not repo.stat.exists
